body{
    font-family: Arial;
    margin: 0;
}

.Cabeçalho{
     padding: 50px 0px 50px 0px;
    background-color: lightblue;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.Textoprincipal{
    text-align: justify;

}



.Imagem{
width: 130px;
height: 130px;
position: relative; /* ou absolute */
left: 1100px;         /* move para a direita */
bottom: 1070px;         /* move para baixo */


/*width: 120px;
height: 125px;
position: relative; /* ou absolute 
left: 1100px;         /* move para a direita 
bottom: 1050px;        /* move para baixo */

}

.Textoimg{
    text-align: justify;
    display: absolute;
    top: 41%;
    left: 71.5%;
    position: absolute;


    /*text-align: justify;
    display: absolute;
    top: 41%;
    left: 71.5%;
    position: absolute;*/
}

.rodape-c {
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    /*align-items: center;
    justify-content: center;*/
}

.Botão{
    cursor: pointer;
    display: absolute;
    top: 9%;
    left: 89%;
    background-color: rgb(8, 30, 155);
    position: absolute;
    font-size: 17px;
    color: rgb(135, 132, 132);
    padding: 10px 20px;
    border: 2px solid;
    text-decoration: none; 
    border-radius: 8px;
    
}